.nav {
    grid-area: n;
    background-color: burlywood;
    min-height: 500px;
    padding: 20px;
  }

.item a {
   
   color: white;
   text-decoration: none;
}
.item a.activeLink {
  color: gold;
}
.friends {
  color: white;
  font-size: 26px;
  margin-top: 50px;
}
.somepeople img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.somepeople {
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 170px;
  
}
